<h1>Listar Usuarios</h1>

<table mat-table [dataSource]="users" class="mat-elevation-z8" *ngIf="flag == true">

<!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

<!-- Nome Column -->
<ng-container matColumnDef="nome">
  <th mat-header-cell *matHeaderCellDef> nome </th>
  <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
</ng-container>

<!-- Senha Column -->
<ng-container matColumnDef="senha">
  <th mat-header-cell *matHeaderCellDef> senha </th>
  <td mat-cell *matCellDef="let element"> {{element.senha}} </td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

